*,
*befor,
*after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
footer{
    background-color:rgb(80, 80, 136);
    color:white;
    padding:10px;
}
h1{
    text-align: center;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: #b599f5;
}
.home{
    margin-top: 20px;
    background-color: #b599f5;
}
.home .carousel-item{
    max-height: 100vh;
    background-position: center;
    background-size: cover;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    background-color: rgba(0, 0, 0, .3)
}
.menu {
    background-color: rgb(80, 80, 136);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo {
    color: white;
    font-size: 35px;
    padding: 0 80px;
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;

}

.menu_items li {
    border-radius: 3px;
    margin: 0 5px;

}

.menu_items li a {
    text-decoration: none;
    padding: 7px 11px;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: white;
}

.menu_items li:hover,
li.active {
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
}

.btn-menu {
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}
.div-suscribirse, .div-ubicacion{
    justify-self: center;
}

.div-contenido-contacto{
    display:grid;
    grid-template-columns: 40vw 40vw;
    gap:5px;
    justify-content: space-evenly;
}
.formulario-novedades{
    display:flex;
    flex-direction: column;
}
.titulo{
    color:rgb(60, 45, 73);
}
.div-info-qs{
    padding:50px;
    display:grid;
    grid-template-columns: 40vw 40vw;
    justify-content: space-evenly;
    align-items: center;
}
.img-ecommerce{
    width: 400px;
}
.div-computadores,.div-smartphones,.div-gadgets{
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content: center;
    gap:20px;
}
.img{
    width: 200px;
    height: 200px;
    padding:10px;
    justify-self: center;
    border:2px solid rgb(201, 201, 201);
}

@media screen and (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 16px;
    }

    .menu_items {
        font-size: 16px;
    }
    .div-info-qs{
        padding:50px;
        display:grid;
        grid-template-columns: 40vw;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:780px) {
    .div-computadores,.div-smartphones,.div-gadgets{
        display: grid;
        grid-template-columns: 80vw ;
        justify-content: center;
        gap:20px;
    }
    .div-info-qs{
        display:grid;
        grid-template-columns: 60vw;
        padding:30px;
        justify-content: center;
    }
    .menu {
        height: 65px;
    }

    .btn-menu {
        display: inline-flex;
    }

    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background-color: rgb(80, 80, 136);
        top: -100vh;
        text-align: center;
        flex-direction: column;
    }

    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .menu_items li:hover {
        background: none;
    }

    .menu_items li a {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .menu_items li a:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, .3);
        transition: .4s;
    }

    .logo {
        font-size: 25px;
        padding-left: 35px;

    }
    .div-contenido-contacto{
        display:grid;
        grid-template-columns: 40vw;
        gap:5px;
        justify-content: space-evenly;
    }
    iframe{
        width: 80vw;
    }
    .img-ecommerce{
        width: 60vw;
        align-self: center;
    }
    .p-acerca{
        margin:10px 0;
    }
    
}
